body {
  background-color: #001011;
}

.banner {
  display: flex;
  align-items: flex-start;
  justify-content: center;

  width: 100%;
  height: 15%;
  
  border-bottom: #727072 solid 2px;
}

#gameButton {
  height: 10vh;
  width: 10vh;
  border-radius: 50%;

  margin-left: 20%;
}

#gameButton img {
  height: 10vh;
  width: 10vh;
  object-fit: contain;
}

.title {
  color: #8D0801;
}

#secret {
  width: 1vw;
  height: 2vh;

  position: relative;
  left: 43.5vw;
  top: -17.5vh;
}