body, #panelContainer {
  display: flex;
  flex-direction: column;
  background-color: #001011;
}

#panelContainer {
  justify-content: center;
  align-items: center;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.charContainer {
  border: yellow solid 1px;
  width: 10vw;
  height: 20vh;
}

.charContainer img {
  width: 10vw;
  height: 20vh;
  object-fit: contain;
}

.charContainer h3 {
  color: white;
  size: xx-large;
  position: relative;
  bottom: 8vh;
}

.aiSelectors {
  flex-direction: column;
  justify-content: space-between;
  width: 2.5vw;
  height: 7.5vh;
  border: navajowhite dotted 1px;
  position: relative;
  bottom: 13.8vh;
  left: 7.3vw;

  display: none;
}

.aiArrow {
  width: 2.5vw;
  height: 3.5vh;
  background-repeat: no-repeat;
  background-size: contain;
}

.setters {
  width: 20vw;
  height: 7vh;
  border: red dotted 2px;
  color: white;
}