body {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background: radial-gradient(circle, rgba(2, 0, 36, 1) 0%, rgba(120, 120, 121, 1) 35%, rgba(0, 212, 255, 1) 100%);
  z-index: 0;
}

.officeEl , .officeEl *{
  z-index: 0;
}

#deathScreen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 99;
  background-color: black;
  color: red;
  size: xx-large;
}

#deathScreen * {
  color: red;
  size: x-large;
}

#debug {
  display: flex;
  flex-direction: column;
  width: 10vw;
  height: auto;
  left: 5vw;
  top: 5vh;
  position: fixed;
  z-index: 2;

  border: black solid 2px;
}

#debug * {
  color: purple;
}


#monitorHitbox {
  display: flex;
  justify-content: center;
  width: 100vw;
  height: 15vh;
  margin-top: 83vh;
}

#monitorTab {
  display: flex;
  justify-content: center;

  background-color: #301934;
  opacity: 80%;
  width: 95vw;
  height: 10vh;
  bottom: 1vh;
  position: absolute;
  z-index: 50;
}

#powerDisplay {
  size: x-large;
  bottom: 15vh;
  left: 5vw;
  position: absolute;
  z-index: 5;
}

#hourDisplay {
  size: x-large;
  top: 6vh;
  right: 5vw;
  position: absolute;
  z-index: 5;
}

#monitor {
  display: flex;
  width: 100vw;
  height: 100vh;
  left: 0px;

  position: absolute;
  background-color: black;

  background-repeat: no-repeat;
  background-size: cover;
  display: none;
  z-index: 1;
}

.camButtons {
  width: 6vh;
  height: 4vh;
  position: relative;
  z-index: 2
}

.cameraScene {
  width: 100vw;
  height: 100vh;
  top: 0px;

  position: absolute;
  background-color: black;

  background-repeat: no-repeat;
  background-size: cover;
  display: none;
  z-index: 1;
}

#leftContainer, #rightContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 10vw;
  height: 30vh;
  position: fixed;
}

#leftVent, #rightVent {
  display: flex;
  align-items: center;
  background-color: rgb(25, 34, 34);
  width: 10vw;
  height: 10vw;
}

#leftButton, #rightButton {
  background-color: antiquewhite;
  width: 3vw;
  height: 3vw;
  position: relative;
  top: 4vh;
}

#lDoor, #rDoor {
  background-color: darkslategray;
  width: 10vw;
  height: 10vw;
  position: absolute;
}

.leoContainer {
  width: 80px;
  height: 120px;
  background-image: url("../../resources/ONAI/Leo.png");

  background-repeat: no-repeat;
  background-size: contain;
  position: fixed;
  display: none;
}

.IrisContainer {
  width: 5vw;
  height: 6.666vw;
  background-image: url("../../resources/ONAI/Iris.png");

  background-repeat: no-repeat;
  background-size: contain;
  position: fixed;
  display: none;
}

.taylorContainer {
  width: 12vw;
  height: 16vw;
  background-image: url("../../resources/ONAI/taylorDefault.png");

  background-repeat: no-repeat;
  background-size: contain;
  position: fixed;

  left: 0vw;
  bottom: 25vh;
}

.taylorBow {
  width: 25%;
  height: 15%;

  opacity: 0%;
  position: relative;

  top: 42%;
  left: 37%;
}

.picklesContainer{
  width: 12vw;
  height: 16vw;

  background-repeat: no-repeat;
  background-size: cover;
  position: fixed;
  display: none;
}

#picklesCam0Cont0 {
  bottom: 30vh;
  left: 20vw;
}

#picklesCam0Cont1 {
  bottom: 20vh;
  right: 40vw;
}

#picklesCam1Cont0 {
  bottom: 30vh;
  left: 40vw;
}

#picklesCam1Cont1 {
  bottom: 35vh;
  right: 20vw;
}

#picklesCam2Cont0 {
  top: 30vh;
  left: 40vw;
}

#picklesCam2Cont1 {
  bottom: 35vh;
  right: 20vw;
}

.hazelContainer{
  width: 12vw;
  height: 16vw;

  background-repeat: no-repeat;
  background-size: cover;
  position: fixed;
  display: none;
}

#hazelCam0Cont0 {
  bottom: 30vh;
  right: 20vw;
}

#hazelCam0Cont1 {
  top: 30vh;
  left: 28vw;
}

#hazelCam1Cont0 {
  bottom: 50vh;
  right: 35vw;
}

#hazelCam1Cont1 {
  top: 10vh;
  left: 20vw;
}

#hazelCam2Cont0 {
  bottom: 30vh;
  right: 40vw;
}

#hazelCam2Cont1 {
  top: 35vh;
  left: 25vw;
}