body {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background: radial-gradient(circle, rgba(2, 0, 36, 1) 0%, rgba(120, 120, 121, 1) 35%, rgba(0, 212, 255, 1) 100%);
  z-index: 0;
}

.officeEl , .officeEl *{
  z-index: 0;
}

#deathScreen {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 99;
  background-color: black;
  color: red;
  size: xx-large;
}


#monitorHitbox {
  display: flex;
  justify-content: center;
  width: 100vw;
  height: 15vh;
  margin-top: 83vh;
}

#monitorTab {
  display: flex;
  justify-content: center;

  background-color: #301934;
  opacity: 80%;
  height: 10vh;
  width: 95vw;
  bottom: 1vh;
  position: absolute;
  z-index: 50;
}

#powerDisplay {
  size: x-large;
  bottom: 15vh;
  left: 5vw;
  position: absolute;
}

#hourDisplay {
  size: x-large;
  top: 6vh;
  right: 5vw;
  position: absolute;
}

#monitor {
  display: flex;
  width: 100vw;
  height: 100vh;

  position: absolute;
  background-color: black;

  background-repeat: no-repeat;
  background-size: cover;
  display: none;
  z-index: 1;

}

.camButtons {
  height: 4vh;
  width: 6vh;
  position: relative;
}

#leftContainer, #rightContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 10vw;
  height: 30vh;
  position: fixed;
}

#leftVent, #rightVent {
  background-color: rgb(25, 34, 34);
  width: 10vw;
  height: 10vw;
}

#leftButton, #rightButton {
  background-color: antiquewhite;
  width: 3vw;
  height: 3vw;
  position: relative;
  top: 4vh;
}

#lDoor, #rDoor {
  background-color: darkslategray;
  width: 100%;
  height: 100%;
}

.leoContainer {
  height: 120px;
  width: 80px;
  background-image: url("../../resources/ONAI/Leo.png");

  background-repeat: no-repeat;
  background-size: contain;
  position: fixed;
}